.section-cards {
    &__header {
        text-transform: uppercase;
        font-size: 1.5rem;
        text-align: center;
    }
    &__subtitle {
        color: rgb(143, 83, 9);
        font-size: 1rem;
    }
    &__products-search-container {
        padding: 1rem;
        background-color: aquamarine;
    }
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(1,fr);
}
@media screen and (min-width:600px){
    .cards-container {
            grid-template-columns: repeat(auto-fit,minmax (200px,1fr));
        }
    }

@media screen and (min-width:1000px){
    .section-cards {
        &__header {
            display: flex;
        }
    }
    
}