.header {
    position: fixed;
    width: 100%;
}

.navbar {
    height: 60px;
    background-color: $color-bg-secondary;
    display: flex;
    align-items: center;
    position: relative;
    &__logo {
        height: 45;
    }
    &__nav-links-container {
        list-style: none;
        position: absolute;
        top: 50px;
        background-color: red;
    }
}
